*{
    margin:0;
    padding:0;
    font-family: 'Gemunu Libre', sans-serif;
}
#mainbackground{
    background: linear-gradient(rgba(0,0,0,0.2),#000000), url(images/main-background.jpg); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.mainlogo{
    width: 200px;
    position: absolute;
    top:2%;
    left:3%;
}

.mainbackground-text{
    text-align:center;
    color:white;
    padding-top:180px;
}
/* I'll be honest I had to google this cuz I had no idea how to "clip" out the text for a gradiant but it seemed like a neat idea*/
.mainbackground-text h1{
    font-family: 'Stick No Bills', sans-serif;
    font-weight: bold;
    font-size: 72px;
    background: linear-gradient(rgba(255, 255, 255, 0.2),#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.mainbackground-text p{
    font-size:55px;
}
.mainback-buttons{
    margin: 15px;
}
.mainback-buttons a{
    width: 15px;
    display: inline-block;
    margin: 4px 2px;
    color: white; 
    border: .10px solid black;
    position: relative;
    text-decoration: none;
    z-index: 1;
    transition: color 0.8s;
}
/*targeting span across the buttons to make the left to right transition, might try to change this from top to bottom at some point?*/
.mainback-buttons a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s;
    background: white; opacity:50%;
    z-index: -1;
    
}
.mainback-buttons a:hover span{
    width:100%;

}
/*This changes text to black to contrast against the white transition. thx GooGle veRy cOoL kaNye */
.mainback-buttons a:hover {
    width:100%;
    color:black;
}
/* Navigation Bar Left side*/
#navigationbar{
    width: 260px;
    height: 100vh;
    position: fixed;
    top:220px;
    left:35px;
    background-color:rgba(0, 0, 0, 0.2)
    z-index: 2;
    transition: 0.8s;
}
nav ul li{
    list-style:none;
    margin:45px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#navigationbutton{
    width:50px;
    heigth: 50px;
    background:none;
    text-align: center;
    position: fixed;
    left:45px;
    top:20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#navigationbutton img{
    width: 45px;
    margin-top: 185px;
}
@media screen and (max-width: 770px){
    .mainlogo{
        width: 80px;
        position: absolute;
        top:2%;
        left:3%;
    }
}

@media screen and (max-width: 770px){
    .mainbackground-text h1{
        font-family: 'Stick No Bills', sans-serif;
        font-weight: bold;
        font-size: 30px;
        background: linear-gradient(rgba(255, 255, 255, 0.2),#000000);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
    .mainback-buttons a{
            display: flex;
            margin: 10px auto;
        }
    .mainbackground-text p{
        font-size: 30px;
    }
    }